.ipynb_checkpoints

.env
venv/

.bash_history
.bash_logout
.bashrc
.cache/
.config/
.cufflinks/
.ipython/
.jupyter/
.keras/
.local/
.npm/
.profile
.python_history
.pytorch_pretrained_bert/
.sudo_as_admin_successful
.wget-hsts
.yarnrc
__pycache__/

